@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin-left: 40px;
    margin-right: 40px;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    background-color: #F2F2F2;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

ul {
    list-style-type: none;
}

span {
    display: block;
}

.main-container {
    flex-grow: 1;
}

.page-container {
    max-width: 1200px;
    margin: 0 auto;
}

.page-header {
    display: flex;
    color: #000000;
    background-color: #FFFFFF;
    padding: 0 70px;
}

.navigation {
    display: flex;
    flex-grow: 1;
}

.navigation-list {
    display: flex;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    margin-left: 30px;
}

.navigation-list-buttons {
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

.navigation-link {
    padding-right: 32px;
    font-size: 20px;
    display: block;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    padding: 20px 16px;
    white-space: nowrap;
    text-decoration: none;
}

.navigation-button {
    padding: 20px;
    padding-right: 32px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    text-decoration: none;
    width: 44px;
    height: 64px;
}

.join-button {
    font-family: inherit;
    border: none;
    border-radius: 4px;
    width: 160px;
    height: 36px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    background-color: #756157;
    text-transform: uppercase;
    cursor: pointer;
}

.page-main {
    color: #000000;
    background-color: #FFFFFF;
}

.welcome {
    background-image: url("../images/index-background.jpg");
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #82B3D3;
    padding-top: 51px;
    padding-bottom: 85px;
}

.advantages-preview {
    margin-top: 0;
    padding: 69px 0;
}

.advantages-preview-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 25px;
}

.advantages-preview-description {
    text-align: center;
    margin: 0;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.advantages-row {
    display: flex;
    margin: 0;
}

.advantages-item-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.advantages-item-description {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin: 0;
    margin-top: 62px;
}

.advantages-text {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.advantages-row img {
    width: 800px;
    display: block;
    margin: 0;
}

.advantages-small {
    width: 400px;
    min-height: 385px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blue {
    color: #FFFFFF;
    background-color: #82B3D3;
    text-align: center;
}

.light-grey {
    color: #000000;
    background-color: #83B3D31F;
    text-align: center;
}

.grey {
    color: #000000;
    background-color: #83B3D333;
    text-align: center;
}

.service-main-preview {
    margin-top: 0;
    padding: 69px 0;
}

.service-preview-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 20px;
}

.service-preview-description {
    text-align: center;
    margin: 0;
}

.service-list {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.service-item {
    width: 400px;
    height: 385px;
}

.service-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 81px;
    width: 75px;
    height: 72px;
}

.service-item-title {
    margin-top: 128px;
    padding-top: 30px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.service-item-description {
    padding-bottom: 81px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.intresting {
    margin-top: 0;
    padding: 96px 0;
}

.intresting-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 20px;
}

.intresting-description {
    font-size: 22px;
    line-height: 21px;
    text-align: center;
    margin: 0;
    margin-bottom: 54px;
}

.intresting-button {
    font-family: inherit;
    border: none;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    font-size: 20px;
    width: 376px;
    height: 52px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    background-color: #756157;
    text-transform: uppercase;
    cursor: pointer;
}

.filters {
    height: 412px;
    margin-top: 0;
    background-image: url("../images/catalog-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #82B3D3;
    padding: 0 70px;
    padding-top: 51px;
}

.filters-title {
    margin-top: 0;
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
    color: #FFFFFF;
}

.filters-breadcrumbs-list {
    display: flex;
    margin-top: 8px;
    padding-left: 10px;
}

.breadcrumbs-link {
    padding-right: 10px;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}

.filters-list {
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
}

.filters-fieldset {
    border: none;
}

.filters-subtitle {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
}

.filters-item {
    display: flex;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

.accept-button {
    font-family: inherit;
    border: none;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    width: 191px;
    height: 36px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    background-color: #82B3D3;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 32px;
}

.clean-button {
    font-family: inherit;
    border: none;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    width: 191px;
    height: 36px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
}

.catalog-filters {
    display: flex;
}

.catalog-filters-title {
    margin-top: 50px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.sorting {
    font-family: inherit;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    margin-top: 50px;
    margin-left: auto;
    width: 292px;
    height: 49px;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
}

.catalog-filters {
    padding: 0 70px;
}

.catalog {
    padding: 0 70px;
}

.catalog-list {
    display: flex;
    margin-top: 40px;
    padding-left: 0;
    gap: 20px;
    flex-wrap: wrap;
}

.catalog-item {
    width: 340px;
    padding-left: 20px;
    padding: 20px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    box-sizing: border-box;
}

.more-button {
    font-family: inherit;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    font-size: 16px;
    width: 140px;
    height: 36px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    background-color: #756157;
    text-transform: uppercase;
    cursor: pointer;
}

.like-button {
    font-family: inherit;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    font-size: 16px;
    width: 140px;
    height: 36px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    background-color: #82B3D3;
    text-transform: uppercase;
    cursor: pointer;
}

.like-checked {
    font-family: inherit;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    font-size: 16px;
    width: 140px;
    height: 36px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    background-color: #7DB54F;
    text-transform: uppercase;
    cursor: pointer;
}

.catalog-pagination-list {
    display: flex;
    padding: 0;
}

.catalog-pagination-item {
    padding: 8px;
}

.subscribe-index {
    margin-top: 0;
    padding: 96px 0;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/subscribe.jpg);
}

.subscribe-catalog {
    margin-top: 0;
    padding: 96px 0;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.subscribe-field {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #F2F2F2;
    border: none;
    border-radius: 4px;
}

.subscribe-title-index {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin: 0 0 20px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
}

.subscribe-title-catalog {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin: 0 0 20px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
}

.subscribe-description-index {
    padding-top: 20px;
    text-align: center;
    color: #FFFFFF;
}

.subscribe-description-catalog {
    padding-top: 20px;
    text-align: center;
    color: #000000;
}

.subscribe-form {
    text-align: center;
}

.subscribe-field {
    border-radius: 4px;
    width: 452px;
    height: 52px;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #F2F2F2;
}

.subscribe-button {
    border: none;
    border-radius: 4px;
    width: 232px;
    height: 52px;
    font-family: inherit;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    background-color: #82B3D3;
    text-transform: uppercase;
    cursor: pointer;
}

.page-footer {
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 0 70px;
}

.social-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
}

.social-item {
    padding-left: 30px;
    margin-top: 45px;
    min-width: 48px;
    min-height: 40px;
}

.footer-number {
    display: block;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    margin-left: 41px;
    margin-right: 41px;
}

.contact-logo {
    display: flex;
    margin: 0;
    padding: 0;
}
